* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 800px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
}

div div{
    width: 30%;
    height: 200px;
    border: 1px black solid;
}

div>div{
    background-color: blue;
}

div:nth-child(2) {
    background-color: aliceblue;
}

div:nth-child(3) {
    background-color: red;
}

div:nth-child(4) {
    background-color: green;
}

div:nth-child(5) {
    background-color: yellow;
}

div:nth-child(6) {
    background-color: yellowgreen;
}

div:nth-child(7) {
    background-color: rgb(248, 3, 3);
}

div:nth-child(8) {
    background-color: yellow;
}

div:nth-child(9) {
    background-color: green;
}